/* probs.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #f5f7fa;
  color: #2c3e50;
  padding: 40px;
  line-height: 1.7;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #0f2027;
  color: #ffffff;
}

p {
  font-size: 1.05rem;
  margin-bottom: 8px;
}

a {
  display: inline-block;
  margin-bottom: 25px;

  color: #0066ff;
  text-decoration: none;
  font-weight: 600;

  border-left: 4px solid #0066ff;
  padding-left: 12px;

  transition: color 0.3s ease, padding-left 0.3s ease;
}

a:hover {
  color: #003cb3;
  padding-left: 18px;
}

strong {
  color: #000000;
}

@media (max-width: 600px) {
  body {
    padding: 20px;
  }
}
button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background: transparent;
  cursor: pointer;
  border-radius: 40px;
}
button img {
  height: 35px;
  width: 35px;
  /* display: flex; */
  margin-right: 10px;
}
button:hover {
  background-color: white;
  border-color: white;
}
